@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@400;500;700&family=Passion+One&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    height: 100%;
}

.first {
    margin: auto;
    height: 838px;
    background-image: url(bg/bg1.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 838px;
    display: grid; 
    text-align: center;
    isolation: isolate;
}

.first img {
    position: absolute;
    z-index: -1;
    left: 650px;
    top: 260px;
    width: 790px;
    height: 790px;
}

.second {
    margin: auto;
    height: 1962px;
    background-image: url(bg/bg2.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 1962px; 
    display: grid;
    position: relative; 
}

.second H1,pre {
    margin-top: 0px;
    font-size: 45px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
    text-shadow: black 0 0 0 5;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.second H1 {
    top: 100px;
}

.third {
    margin: auto;
    height: 1441px;
    top: 20px;
    background-image: url(bg/bg3.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 1441px;
    place-content: center; 
    display: grid;
    position: relative; 
}

.fourth {
    margin: auto;
    height: 1794px;
    top: 40px;
    background-image: url(bg/bg4.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 1794px;
    place-content: center; 
    display: grid;
    position: relative; 
    text-align: center;
}

.fifth {
    margin: auto;
    height: 1944px;
    top: 60px;
    background-image: url(bg/bg5.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 1944px;
    place-content: center; 
    display: grid;
    position: relative; 
    text-align: center;
}

.sixth {
    margin: auto;
    height: 736px;
    top: 80px;
    background-image: url(bg/bg6.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 736px;
    place-content: center; 
    display: grid;
    position: relative; 
    text-align: center;
}